{% extends "layout.html" %}
{% block content %}


<div class="main-content">
    <div class="main-title">Create Your Team</div>
    <h3 class="h3-add">Create a team</h3>

    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {%- endfor %}

    <div class="form-add">
        <form action="{{ request.path }}" method="post">

            <label>Team name</label><br>
            <input type="text" name="name" placeholder="Name"/><br>
            <label>League</label><br>
            <select name="league" id="league">
                <option value="English Premier League">English Premier League</option>
                <option value="Spain Primera Division">Spain Primera Division</option>
                <option value="Italian Serie A">Italian Serie A</option>
                <option value="German Bundesliga">German Bundesliga</option>
                <option value="French Ligue">French Ligue</option>
            </select>

            <input type="submit" value="Submit"/>
        </form>
    </div>

</div>

{% endblock %}