{% extends "layout.html" %}
{% block content %}

<div class="main-content">

    <div class="main-title">Choose your opponent</div>
    <div class="sub-title">Select a League</div>
    <div class="options">
        <div class="options-small"><a href="/opp-england.html">
            England
            <img width="100px" alt="weather" src="{{url_for('static', filename='images/premier2.png')}}"/></a>
        </div>
        <div class="options-small"><a href="/opp-spain.html">
            Spain
            <img width="100px" alt="weather" src="{{url_for('static', filename='images/la-liga.png')}}"/></a>
        </div>
        <div class="options-small"><a href="/opp-italy.html">
            Italy
            <img width="100px" alt="weather" src="{{url_for('static', filename='images/serie-a.png')}}"/></a>
        </div>
        <div class="options-small"><a href="/opp-germany.html">
            Germany
            <img width="100px" alt="weather" src="{{url_for('static', filename='images/bundesliga.png')}}"/></a>
        </div>
        <div class="options-small"><a href="/opp-france.html">
            France
            <img width="100px" alt="weather" src="{{url_for('static', filename='images/france.png')}}"/></a>
        </div>

    </div>

    <div class="options">
        <div class="options-small">
            England EFL
            <img width="100px" alt="weather" src="{{url_for('static', filename='images/champ.png')}}"/>
        </div>
        <div class="options-small">
            Portugal
            <img width="100px" alt="weather" src="{{url_for('static', filename='images/portugal.png')}}"/>
        </div>
        <div class="options-small">
            Netherlands
            <img width="100px" alt="netherlands logo" src="{{url_for('static', filename='images/nether.png')}}"/>
        </div>
        <div class="options-small">
            Belgium
            <img width="100px" alt="belgium logo" src="{{url_for('static', filename='images/belgium.png')}}"/>
        </div>
        <div class="options-small">
            Spain LaLiga 2
            <img width="100px" alt="spain2 logo" src="{{url_for('static', filename='images/laliga2.png')}}"/>
        </div>

    </div>


</div>


{% endblock %}
