{% extends "layout.html" %}
{% block content %}

<div class="main-content">
    <div class="main-title">Champions Cup</div>

    <div class="cup-content">
        <div class="cup-title"><h5>First stage</h5></div>
        Pick a team.
        <br/><br/>
        It will randomly generate your opponents once you choose a team.
        <ul>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
            <li>Team A</li>
        </ul>
    </div>
</div>

{% endblock %}
