{% extends "layout.html" %}
{% block content %}

<div class="main-content">

    <div class="main-title">Play cup game</div>

    <div class="cup-options">
        <div class="first-cup"><a href="/cup-champions.html">Champions Cup

            <p>A 16-team tournament with two games agains in each stage.</p>
                        <button>Select</button>
        </a>
        </div>
        <div class="first-cup"><a href="/">Hattrick Cup

             <p>A mixture between group stage and tournament stage.</p>
                        <button>Select</button>
        </a>
        </div>


    </div>

</div>
{% endblock %}