{% extends "layout.html" %}
{% block content %}

<div class="main-content">
    <div class="main-title">Create Your Team</div>
    <h3 class="h3-add">Add players to your team</h3>

    <div class="new-team">
        <div class="new-logo">
            <img width="80px" src="{{url_for('static', filename='images/clubs/no-logo.png')}}">
        </div>
        <div class="new-text">
            <div class="new-name">{{ team.name }}</div>
            <div class="new-league">{{ team.league }}</div>
        </div>
    </div>

    <div class="new-stats">
        <div class="new-values">
            <div class="n-val">Overall<br/>{{ team.overall }}</div>
            <div class="n-val">Attack<br/>{{ team.attack }}</div>
            <div class="n-val">Middle<br/>{{ team.middle }}</div>
            <div class="n-val">Defence<br/>{{ team.defence }}</div>
        </div>
    </div>

    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger">{{ message }}</div>
    {%- endfor %}

    <div class="form-add">
        <form action="{{ request.path }}" method="post">

            <label>First name</label><br>
            <input type="text" name="first_name" placeholder="First name"/><br>
            <label>Last name</label><br>
            <input type="text" name="last_name" placeholder="Last name"/><br>
            <div class="hidden" style="display: none">
                <input type="text" name="team_id" placeholder="{{ team_id }}" value="{{ team_id }}"/><br>
            </div>
            <input type="submit" value="Submit"/>
        </form>
    </div>

</div>

{% endblock %}
