{% extends "layout.html" %}
{% block content %}


<div class="main-content">
    <img width="100%" alt="logos" src="{{ url_for('static', filename='images/logos2.png') }}"/>

    <div class="main-title">Select your team</div>
    <table class="existing">
        <thead>
        <tr class="existing-header">
            <th></th>
            <th>NAME</th>
            <th>OVA</th>
            <th>ATT</th>
            <th>MID</th>
            <th>DEF</th>
            <th>SELECT</th>
        </tr>
        </thead>
        {% for team in data.values() %}
            <tbody>
            <tr class="ex-tr">

            <td class="ex-logo">
                <img src="/static/images/clubs/{{ team['logo'] }}.png" width="50px">
            </td>
            <td class="ex-name">
                <a href="/team/{{ team['id'] }}.html">{{ team['name'] }}<br/>
                    <span class="ex-league">{{ team['league'] }}</span></a>
            </td>
            <td class="ex-stats">{{ team['ovr'] }}</td>
            <td class="ex-stats">{{ team['att'] }}</td>
            <td class="ex-stats">{{ team['mid'] }}</td>
            <td class="ex-stats">{{ team['def'] }}</td>
            <td>

                <form action="{{ request.path }}" method="POST">
                    <div class="hidden">
                        <label>Team ID</label><br>
                        <input type="text" name="team_id" placeholder="{{ team['id'] }}"
                               value="{{ team['id'] }}"/><br>
                    </div>
                    <button>Select team</button>
                </form>
            </td>

        {% endfor %}
        </tr>
        </tbody>
    </table>

</div>


{% endblock %}
