<html>
<head>
    <title>Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="top-content">
    <div class="logo">
        <img width="150px" alt="logo" src="{{url_for('static', filename='images/logo.png')}}"/>
    </div>

    <div class="menu">

        <div>Home</div>
        <div>Quick Game</div>
        <div>Play Cup</div>
        <div>Create Team</div>
        <div>Settings</div>

    </div>

</div>

<div class="flex">

    <div class="nav">
        <div class="nav-title">Title</div>
    </div>

    <div class="top">

        <div class="sub-top">
            {{ content }}
        </div>

        <div class="center-content">
            <img width="30px" alt="weather" src="{{url_for('static', filename='images/rainy.png')}}"/>
            <div>
                {{ welcome }}
            </div>


            <table>
                {% for min, team in scorers.items() %}
                <tr>
                    <td>
                        {{ min }} min, {{ team }} scores a GOAL!
                    </td>
                </tr>

                {% endfor %}
            </table>


            <h3>
                {{ home.name }} VS {{ away.name }}
                {{ score[home.name] }} : {{ score[away.name] }}
            </h3>

        </div>
    </div>

</div>


</body>
</html>
