<!doctype html>
<html>

<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>{% block title %}Python Manager{% endblock %}</title>
    {% endblock %}
</head>

<body>
<header>
    <div class="top-panel">
        <div class="logo">
            <a href="/">
                <img width="165px" alt="logo" src="{{ url_for('static', filename='images/logo.png') }}"/>
            </a>
        </div>

        <div class="top-navigation">
            <div class="top-links">
                {% if not current_user.is_authenticated %}
                    <div class="my-menu"><a href="/login.html">Login</a></div>
                    <div class="my-menu"><a href="/signup.html">Signup</a></div>
                {% endif %}

                {% if current_user.is_authenticated %}
                    <div class="my-menu-img">
                        <img alt="head-icon" width="15px"
                             src="{{ url_for('static', filename='images/icons/head1.png') }}"/>
                    </div>
                    <div class="my-menu"><a href="/profile.html">{{ current_user.username }}</a></div>
                    <div class="my-menu"><a href="/logout.html">Logout</a></div>
                {% endif %}
            </div>

            {% if user_team %}
            <div class="your-team">
                Your team: <a href="/team/{{ user_team.id }}.html">{{ user_team }}</a>
            </div>
            {% else %}
            <div class="your-team">
                You don't have a team yet
            </div>
            {% endif %}
        </div>
    </div>

    <div class="menu">
        <div><a href="/">Home</a></div>
        <div><a href="/quick-game.html">Quick Game</a></div>
        <div><a href="/cup.html">Play Cup</a></div>
        <div><a href="/build-team.html">Create Team</a></div>
        <div><a href="/multiplayer.html">Multiplayer</a></div>
    </div>
</header>

<main>
    <nav>
        <div class="flex-nav">
            <div class="nav-title">Quick Game</div>
            <ul>
                <li><a href="/select-team.html">Select a Team</a></li>
                <li><a href="/choose-opponent.html">Choose Opponent</a></li>
                <li><a href="/lineup.html">Set Lineup</a></li>
                <li><a href="/play.html">Play</a></li>
            </ul>
        </div>

        <div class="flex-nav">
            <div class="nav-title">Play Cup</div>
            <ul>
                <li><a href="/">Select Cup</a></li>
                <li><a href="/">Set Lineup</a></li>
                <li><a href="/">Play</a></li>
                <li><a href="/">Settings</a></li>
            </ul>
        </div>
    </nav>

    <article>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </article>
</main>

<footer>
    {% block footer %}
        &copy; Copyright 2022 by Kalin Petrov.
    {% endblock %}
</footer>

</body>
</html>
