{% extends "layout.html" %}
{% block content %}

<div class="main-content">
    <div class="main-title">English Premier League</div>

    <table class="existing">
        <thead>
        <tr class="existing-header">
            <th></th>
            <th>NAME</th>
            <th>OVA</th>
            <th>ATT</th>
            <th>MID</th>
            <th>DEF</th>
            <th>SELECT</th>
        </tr>
        </thead>

        <tbody>
        {% if not data %}
            <tbody>
            <tr>
                <td colspan="5">
                    <p class="no-players">There are no teams in this team.</p>
                </td>
            </tr>
            </tbody>
        {% else %}

            <tbody>
            {% for team in data.values() %}
                <tr class="ex-tr">

                <td class="ex-logo">
                    <img src="/static/images/clubs/{{ team['logo'] }}.png" width="50px">
                </td>
                <td class="ex-name">
                    <a href="/team/{{ team['id'] }}.html">{{ team['name'] }}<br/>
                        <span class="ex-league">{{ team['league'] }}</span></a>
                </td>
                <td class="ex-stats">{{ team['ovr'] }}</td>
                <td class="ex-stats">{{ team['att'] }}</td>
                <td class="ex-stats">{{ team['mid'] }}</td>
                <td class="ex-stats">{{ team['def'] }}</td>
                <td>

                    <form action="{{ request.path }}" method="POST">
                        <div class="hidden">
                            <label>Team ID</label><br>
                            <input type="text" name="team_id" placeholder="{{ team['id'] }}"
                                   value="{{ team['id'] }}"/><br>
                        </div>
                        <button class="select-ex-team">Select team</button>
                    </form>
                </td>

            {% endfor %}
            </tr>
            </tbody>
        {% endif %}
    </table>


</div>



{% endblock %}
