{% extends "layout.html" %}
{% block content %}

<div class="top">

    <div class="sub-top">
        {{ content }}
    </div>

    <div class="center-content">
        <div class="cnt">
            <img width="30px" alt="weather" src="{{url_for('static', filename='images/rainy.png')}}"/>
            <div>
                {{ welcome }}
            </div>

            <table>
                {% for min, team in scorers.items() %}
                <tr>
                    <td>
                        {{ min }} min, {{ team }} scores a GOAL!
                    </td>
                </tr>
                {% endfor %}
            </table>

            <h3>
                {{ home.name }} VS {{ away.name }}
                {{ score[home.name] }} : {{ score[away.name] }}
            </h3>
        </div>
    </div>
</div>

{% endblock %}