{% extends "layout.html" %}
{% block content %}
<div class="main-content">

    <div class="main-title">
        Quick Game
    </div>

    <div class="quick-options">
        <div class="select-team"><a href="/select-team.html">Select Team<button>Select</button></a></div>
        <div class="select-opponent"><a href="/choose-opponent.html">Select Opponent<button>Select</button></a></div>
        <div class="set-lineup"><a href="/lineup.html">Set Lineup<button>Select</button></a></div>
        <div class="quick-play"><a href="/play.html">Play<button>Select</button></a></div>
        <div class="quick-settings"><a href="/">Settings<button>Select</button></a></div>
    </div>

</div>

{% endblock %}