{% extends "layout.html" %}
{% block content %}


<div class="main-content">

    <div class="main-title">Select your team</div>

    <div class="options">
        <div class="options-left">
            Select from an existing team
            <div class="select-btn">
                <a href="existing.html">
                <button>Select</button>
                    </a>
            </div>
        </div>
        <div class="options-right">
            Build your own team
            <div class="select-btn">
                <a href="build-team.html">
                    <button>Create</button>
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
