{% extends "layout.html" %}
{% block content %}


<div class="main-content">

    <div class="new-team team">
        <div class="new-logo">
            <img src="/static/images/clubs/{{ team.logo }}.png" width="90px">
        </div>
        <div class="new-text">
            <div class="new-name">{{ team.name }}</div>
            <div class="new-league">{{ team.league }}</div>
        </div>
    </div>

    <div class="new-stats">
        <div class="new-values">
            <div class="n-val">Overall<br/>{{ team.overall }}</div>
            <div class="n-val">Attack<br/>{{ team.attack }}</div>
            <div class="n-val">Middle<br/>{{ team.middle }}</div>
            <div class="n-val">Defence<br/>{{ team.defence }}</div>
        </div>
    </div>

    <table class="existing">
        <thead>
        <tr class="existing-header">
            <th>Name</th>
            <th>Attack</th>
            <th>Middle</th>
            <th>Defence</th>
            <th>Overall</th>
        <tr>
        </thead>

        <tbody>
        {% for p in players %}
        <tr>
            <td>Name</td>
            <td>ATT</td>
            <td>MID</td>
            <td>Defence</td>
            <td>Overall</td>
        </tr>
        {% endfor %}
        </tbody>


</div>

{% endblock %}
